@import 'bootstrap';
@import 'bootstrap-icons';

/* #region common  */

:root {
    --bf-primary: #E40A13;
    --bf-dark: #141414;
    --bf-darkest: #090909;
    --bf-lighter: white;
    --bf-mid: #595959;
    --bf-mid-transparent: #5959599d;
}

body {
    background-color: var(--bf-dark);
    color: var(--bf-lighter);
}

/* #endregion common  */

/* #region header  */
header {
    position: absolute;
    width: 100%;
    top: 0;
    overflow: hidden;
    color: var(--bf-lighter);
    background-image: linear-gradient(var(--bf-darkest), transparent);
    z-index: 10;

    .logo {
        width: 15%;
    }
}

/* #endregion header  */

/* #region jumbo  */

.jumbo {
    height: 70vh;
    overflow: hidden;
    background-image: linear-gradient(transparent, var(--bf-dark));

    .img_jumbo_big {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 0;
    }

    .jumbo_content {
        position: absolute;
        padding: 2rem;
        bottom: 0;
        left: 0;
    }
}

/* #region card  */
.card_img {
    width: 20%;
}

.movie_card {
    ul {
        list-style: none;
        padding: 0.5rem;

        li {
            border-bottom: 1px solid var(--bf-lighter);
            padding: 1rem 0;
            font-size: 0.8rem;
        }
    }

    .movie_card_body {
        background-color: var(--bf-mid-transparent);
        color: var(--bf-lighter);
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 10px;
        z-index: 50;
        transition-duration: 0.5s;
        height: 100%;

        &:hover {
            transform: scale(1.1);
            backdrop-filter: blur(10px);
        }
    }
}

/* #endregion card  */

/* #region footer  */

footer {

    .footer_list_style {
        list-style: none;
    }

    .icons {
        li {
            margin-right: 2rem;
            font-size: 1.8rem;

            a {
                color: var(--bf-lighter);
            }

        }
    }

    .footer_lists {
        ul {

            a {
                text-decoration: none;
                color: var(--bf-mid);
                font-size: 0.9rem;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

    }
}

/* #endregion footer  */